---
import Layout from "@/layouts/Layout.astro";
import slugify from "slugify";
import blogData from "@/data/blogs.json";
import { Image } from "astro:assets";
import DoubleTitle from "@/components/ui/DoubleTitle.astro";

const images = import.meta.glob('/src/assets/images/blogs/*.{webp,png,jpg,jpeg,WEBP,PNG,JPG,JPEG}', { eager: true }) as Record<string, { default: string }>;

export async function getStaticPaths() {
  return blogData.map((blog) => ({
    params: { slug: slugify(blog.title, { lower: true, strict: true }) },
  }));
}

const { slug } = Astro.params;

const blogIndex = blogData.findIndex(
  (blog) => slugify(blog.title, { lower: true, strict: true }) === slug
);

const blog = blogData[blogIndex];
const previousBlog = blogData[blogIndex - 1] || blogData[blogData.length - 1];
const nextBlog = blogData[blogIndex + 1] || blogData[0];
---

<Layout title={blog!.title}>
  <div class="section-container flex flex-col items-center max-w-4xl">
    <h1 class="text-4xl font-bold tracking-wider text-blue text-center mb-4">{blog!.title}</h1>
    <div >
    <p class="me-auto text-sm text-gray-500 mb-4">Publicado el {new Date(blog!.date).toLocaleDateString()}</p>
      <Image src={images[blog!.image].default} alt={blog!.title} height={700} inferSize loading="eager"
      class="w-full max-w-2xl max-h-[400px] rounded-lg object-cover" />
    </div>
    <p class="text-lg max-w-4xl mb-4 text-start mt-4">{blog!.text}</p>
    <div class="mt-14">
      <DoubleTitle blackText="OTROS" blueText="BLOGS" />

      <div class="flex flex-col md:flex-row gap-11 mt-3">
        <a href={`/blog/${slugify(previousBlog.title, { lower: true, strict: true })}`} 
           class="flex flex-col items-center bg-white p-2 rounded-lg max-w-[350px]">
          <div class="relative rounded-lg w-[250px] h-[250px] sm:w-[300px] sm:h-[250px] md:w-[300px] md:h-[200px]">
            <Image src={images[previousBlog.image].default} alt={previousBlog.title}
              class="w-full h-full object-cover absolute inset-0 rounded-lg select-none" height={400} inferSize loading="lazy"
              quality={80} />
          </div>
          <h3 class="mt-2 text-center text-lg font-medium text-blue">{previousBlog.title}</h3>
        </a>
        <a href={`/blog/${slugify(nextBlog.title, { lower: true, strict: true })}`} 
           class="flex flex-col items-center bg-white p-2 rounded-lg max-w-[350px]">
          <div class="relative rounded-lg w-[250px] h-[250px] sm:w-[300px] sm:h-[250px] md:w-[300px] md:h-[200px]">
            <Image src={images[nextBlog.image].default} alt={nextBlog.title}
              class="w-full h-full object-cover absolute inset-0 rounded-lg select-none" height={400} inferSize loading="lazy"
              quality={80} />
          </div>
          <h3 class="mt-2 text-center text-lg font-medium text-blue">{nextBlog.title}</h3>
        </a>
      </div>
    </div>
  </div>
</Layout>

<style>
  .text-start {
    text-align: justify;
    white-space: pre-wrap;
  }
</style>