---
import { Image } from 'astro:assets';
import Layout from "@/layouts/Layout.astro";
import blogData from "@/data/blogs.json";
import slugify from "slugify";

const images = import.meta.glob('/src/assets/images/blogs/*.{jpg,png,jpeg}', { eager: true }) as Record<string, { default: string }>;

var POSTS_PER_PAGE = 3;

const blogPosts = blogData.sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());

var totalPages = Math.ceil(blogPosts.length / POSTS_PER_PAGE);
const currentPage = parseInt(Astro.params.page || '1', 10);
const startIndex = (currentPage - 1) * POSTS_PER_PAGE;
const endIndex = startIndex + POSTS_PER_PAGE;
const postsToShow = blogPosts.slice(startIndex, endIndex);

export async function getStaticPaths() {
  const POSTS_PER_PAGE = 3;
  const blogPosts = blogData.sort((a: any, b: any) => new Date(b.date).getTime() - new Date(a.date).getTime());
  const totalPages = Math.ceil(blogPosts.length / POSTS_PER_PAGE);
  return Array.from({ length: totalPages }, (_, i) => ({
    params: { page: (i + 1).toString() },
  }));
}
---

<Layout title="Blog">
  <div class="section-container mt-16 flex flex-col items-center text-center">
    <h1 class="text-5xl font-bold tracking-wider text-blue">BLOG MECINTRAC</h1>
    <p class="text-lg max-w-2xl mb-8 text-black">
      ¡Bienvenidos a nuestro blog! Aquí podrás encontrar novedades sobre la industria metalmecánica y noticias sobre nuestra empresa.
    </p>

    <!-- Blog Posts -->
    <div class="max-w-sm md:max-w-3xl mx-auto grid gap-4">
      {postsToShow.map((post) => (
        <a 
          href={`/blog/${slugify(post.title, { lower: true, strict: true })}`} 
          class="flex flex-col md:flex-row md:max-h-[300px] bg-white shadow-lg rounded-lg overflow-hidden p-3"
          title={post.title}
        >
          <Image 
            src={images[post.image]?.default}
            alt={post.title}
            class="h-full w-full md:w-1/2 object-cover rounded-lg"
            quality={100}
            height={400}
            loading="eager"
            inferSize
          />
          <div class="flex flex-col h-1/2 md:h-full items-start justify-start p-2 md:p-3 md:w-1/2 overflow-hidden">
            <h2 class="text-2xl font-semibold font-roboto text-blue text-start line-clamp-2">
              {post.title}
            </h2>
            <p class="text-sm text-gray-500 mt-2">{new Date(post.date).toLocaleDateString()}</p>
            <p class="text-start text-black mt-4 line-clamp-5">{post.text}</p>
          </div>
        </a>
      ))}
    </div>

    <!-- Pagination -->
    <nav class="flex justify-between items-center gap-3 mt-12">
      <!-- Previous Button -->
      <a
        href={currentPage > 1 ? `/blog/pagina/${currentPage - 1}` : '1'}
        class={`flex items-center justify-center w-10 h-10 border rounded ${
          currentPage === 1 ? 'bg-light-blue cursor-not-allowed pointer-events-none' : 'bg-blue'
        } text-white`}
        aria-disabled={currentPage === 1}
      >
        &lt;
      </a>

      <!-- Page Info -->
      <span class="text-gray-700">
        Página {currentPage} de {totalPages}
      </span>

      <!-- Next Button -->
      <a
        href={currentPage < totalPages ? `/blog/pagina/${currentPage + 1}` : '1'}
        class={`flex items-center justify-center w-10 h-10 border rounded ${
          currentPage === totalPages ? 'bg-light-blue cursor-not-allowed pointer-events-none' : 'bg-blue'
        } text-white`}
        aria-disabled={currentPage === totalPages}
      >
        &gt;
      </a>
    </nav>
  </div>
</Layout>

<style>
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  @media (min-width: 385px) {
    .line-clamp-2 {
      -webkit-line-clamp: 2;
    }
  }

  .line-clamp-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
